<%- include('header.ejs') %>

    <div class="upload-container">
        <h2>새 강의</h2>

        <form action="/lectureinfo" method="post">
            <div class="form-group">
                <label for="lecture_id">Lecture ID(EX: COSE461-00):</label>
                <input type="text" id="lecture_id" name="lecture_id">
            </div>
            <div class="form-group">
                <label for="lecture_name">강의 이름:</label>
                <input type="text" id="lecture_name" name="lecture_name">
            </div>
            <div class="form-group">
                <label for="max_num">최대 수강 인원:</label>
                <input type="number" id="max_num" name="max_num">
            </div>

            <button type="submit" class="submit-button">강의 개설</button>
        </form>
    </div>

    <%- include('footer.ejs') %>