<%- include('header.ejs') %>
    <header>
        <nav>
            <ul>
                <li><a href="/profile">프로필</a></li>
                <li><a href="/upload">업로드</a></li>
            </ul>
        </nav>

<%- include('footer.ejs') %>
```