<%- include('header') %>

<form action="/logininfo" method="post">

    <li>로그인</li>
        <li>ID: <input type="text" name="id"> </input></li>
        <li>비밀번호: <input type="password" name="password"> </input></li> <!--나주엥 rich text로 수정 예정-->

    <button type="submit">로그인</button>
</form>

<%- include('footer') %>
