<%- include('header.ejs') %>
    <header>
        <nav>
            <ul>
                <button type="text" onclick="location.href = 'create_lecture' ">새 강의</button>
            </ul>
        </nav>

<%- include('footer.ejs') %>
```