<%- include('header') %>

<form action="/signupinfo" method="post">

    <li>회원가입</li>
        <li>ID: <input type="text" name="id"> </input></li>
        <li>이름: <input type="text" name="name"> </input></li>
        <li>비밀번호: <input type="password" name="password"> </input></li> <!--나주엥 rich text로 수정 예정-->
        <li>재확인: <input type="password" name="confirm_password"></input></li>
        <li>학번: <input type="number" name="studentnum"></input></li>
        <li>신분: </li>
            <input type="radio" name="identity" value="student" required> 학생
            <input type="radio" name="identity" value="teacher" required>  교수자

    <button type="submit">회원 가입</button>
</form>

<%- include('footer') %>
