<%- include('header.ejs') %>

    <header>

        <nav>
            <ul>
                <button type="text" onclick="location.href = 'register_lecture' ">새 강의</button>
            </ul>
        </nav>

        <nav>

            <h1>내가 수강 중인 강의 목록</h1>

            <h2>활동 스트림</h2>

        </nav>

<%- include('footer.ejs') %>
```