<%- include('header') %>

    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

    <div class="upload-container">
        <h2>게시물 작성</h2>

        <form action="/announcementinfo" method="post" class="upload-form">
            <input type="hidden" name="lecture_id" value="<%= lecture_id %>">

            <div class="form-group">
                <label for="title">제목:</label>
                <input type="text" id="title" name="title">
            </div>

            <div class="form-group">
                <label for="maintext">본문:</label>
                <textarea id="maintext" name="maintext"></textarea>
            </div>

            <button type="submit" class="submit-button">업로드</button>
        </form>
    </div>

    <script>
        CKEDITOR.replace('maintext');
    </script>

    <%- include('footer') %>