<%- include ('header') %>

"
    <ul>
        <li>게시물 작성</li>
        <li>제목: <input type="text" name="title"> </input></li>
        <li>본문: <input type="text" name="maintext"> </input></li> <!--나주엥 rich text로 수정 예정-->

    </ul>
<%- include ('footer') %>